<footer class="bf-footer" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-list">
                    <li class="nav-header"><a href="/">Home</a></li>
                    <li class="nav-header"><a href="/community/">Community</a></li>
                        <!-- <li><a href="/community#events">Events</a></li> -->
                        <li><a href="/community/#mailing-lists">Mailing Lists</a></li>
                        <li><a href="/community/#deployments">Deployments</a></li>
                        <li><a href="/community/#committers">Commiters</a></li>
                    <!-- <li class="nav-header"><a href="#">Docs</a></li> -->
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="nav nav-list">
                    <li class="nav-header">Code</li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/stack">Server Stack</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/portal">Admin Portal</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/cli">ugc command line</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/ios">iOS SDK</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/android">Android SDK</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/html5-javascript">HTML5/JS SDK</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/nodejs">node.js module</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/ruby-on-rails">Ruby on Rails gem</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/ruby">Ruby gem</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/php">PHP SDK</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/java">Java SDK</a></li>
                    <li><a href="https://github.com/usergrid/usergrid/blob/master/sdks/dotnet">.NET / Windows SDK</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="nav nav-list">
                    <li class="nav-header">Resources</li>
                        <li><a href="http://github.com/usergrid/usergrid">GitHub Code</a></li>
                        <li><a href="https://issues.apache.org/jira/browse/USERGRID">JIRA Bug Tracker</a></li>
                        <li><a href="http://stackoverflow.com/search?q=usergrid">StackOverflow</a></li>
                        <li><a href="http://webchat.freenode.net/?channels=%23usergrid&uio=d4">IRC</a></li>
                        <li><a href="https://twitter.com/usergrid">Twitter</a></li>
                        <li><a href="http://incubator.apache.org/projects/usergrid.html">Podling Listing</a></li>
                        <!-- <li><a href="#">Apache Repository</a></li> -->
                        <li><a href="https://github.com/usergrid/usergrid/blob/master/LICENSE">License</a></li>
                </ul>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a class="twitter-timeline" href="https://twitter.com/search?q=%23usergrid" data-widget-id="401499136807038976"  data-related="usergrid" height="400px" style="overflow:hidden">Tweets about "usergrid"</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div> 
        <!--
            <div class="col-md-4">
                <div class="input-group form-search">
                    <input type="text" class="form-control search-query">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" data-type="last">Search</button>
                    </span>
                </div>
            </div> -->
        </div> 
        <div class="row">
            <div id="copyright">
                <img src="/img/egg-logo.png" /><br/><br/>
                <p>Apache Usergrid is an effort undergoing incubation at The Apache Software Foundation (ASF), sponsored by the name of Apache TLP sponsor. Incubation is required of all newly accepted projects until a further review indicates that the infrastructure, communications, and decision making process have stabilized in a manner consistent with other successful ASF projects. While incubation status is not necessarily a reflection of the completeness or stability of the code, it does indicate that the project has yet to be fully endorsed by the ASF.</p>
                <p>Copyright © 2013 The Apache Software Foundation, Licensed under the Apache License, Version 2.0.<br>
                Apache and the Apache feather logos are trademarks of The Apache Software Foundation.</p>
                <p class="credits">Site designed & assembled with love by <a href="https://github.com/ryuneeee">@ryuneeee</a> + <a href="https://github.com/realbeast">@realbeast</a> + <a href="https://twitter.com/timanglade">@timanglade</a>.</p>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/head.js"></script>
<script type="text/javascript">
    head.js("/js/jquery-1.10.1.min.js", "/js/bootstrap.min.js", "/js/usergrid-site.js");
</script>
<script type="text/javascript">
    //IE outdate friendly warning if you don't want remove it
    var $buoop = {vs:{i:8,f:3.6,o:10.6,s:3.2,n:9}}
    $buoop.ol = window.onload;
    window.onload=function(){
        try {if ($buoop.ol) $buoop.ol();}catch (e) {}
        var e = document.createElement("script");
        e.setAttribute("type", "text/javascript");
        e.setAttribute("src", "http://browser-update.org/update.js");
        document.body.appendChild(e);
    }
</script>