---
layout: default
secondary: true
---

<div class="container bf-docs-container">    
    <div class="row">
        <div class="col-md-3">
            <div class="bf-sidebar hidden-print" role="complementary">
            <ul class="nav nav-list">
                <li class="nav-header">Usergird</li>
                <li><a href="#">Overview</a></li>
                <li><a href="#">Backgroud</a></li>
                <li><a href="#">Something...</a></li>
                <li class="divider"></li>
                <li class="nav-header">Team</li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Contributor</a></li>
            </ul></div>
        </div>

        <div class="col-md-9" role="main">
            <div class="page-article">
                <div class="page-header">
                    <h1>{{ page.title }}</h1>
                </div>
                {{ content }}
            </div>
        </div>
    </div>
</div>